// main colors
$activeLinkColor: #7d0ed7;
$baseLinkColor: #662f94;
$hoverLinkColor: #d629ce;

// font bg colors
$whiteBgFontColor: #fff;
$errorColor: rgb(145, 30, 30);
$blackBgFontColor: #000;
$mainBgFontColor: #282c34;
$darkGreyFontColor: #636975;
$lightGreyFontColor: #a683b4;
$darkBlueFontColor: #0f2857;
$lightBlueFontColor: #7186ad;
