// main colors
$activeLinkColor: #80FFD4;
$baseLinkColor: #61DAFD;
$hoverLinkColor: #9BE2F5;

// font bg colors
$whiteBgFontColor: #FFF;
$blackBgFontColor: #000;
$mainBgFontColor: #282C34;
$darkGreyFontColor: #636975;
$darkBlueFontColor: #0F2857;
