// main colors
$activeLinkColor: #7d0ed7;
$baseLinkColor: #662f94;
$hoverLinkColor: #d629ce;

// font bg colors
$whiteBgFontColor: #FFF;
$blackBgFontColor: #000;
$mainBgFontColor: #282C34;
$darkGreyFontColor: #636975;
$darkBlueFontColor: #0F2857;
