.app-header,
.app-footer {
  background-color: $mainBgFontColor;
  min-height: 10vh;
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: center;
  font-size: 1rem;
  color: $whiteBgFontColor;
}

.footer-container {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.rsschool {
  margin-left: 1.5rem;
  height: 3rem;
  width: 6rem;
}

.rsschool:hover path {
  fill: $hoverLinkColor;
}

.copyright {
  font-size: 1rem;
  font-weight: 600;
}

.copyright a {
  text-decoration: none;
  font-size: 0.9rem;
}

.copyright a:hover {
  text-decoration: underline;
}

.github {
  color: $whiteBgFontColor;
}

.images-link {
  font-size: 1.1rem;

  &:hover {
    text-decoration: underline;
  }
}
