.app-header, 
.app-footer {
  background-color: $mainBgFontColor;
  min-height: 10vh;
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $whiteBgFontColor;
}

.footer-container {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.rsschool {
  margin-left: 20px;
  height: 55px;
  width: 110px;
}

.rsschool:hover path {
  fill: $hoverLinkColor;
}

.copyright {
  font-size: 16px;
  font-weight: 600;
}

.copyright a {
  text-decoration: none;
  font-size: 18px;
}

.copyright a:hover {
  text-decoration: underline;
}

.github {
  color: $whiteBgFontColor;
}

.images-link {
  font-size: 1.1rem;

  &:hover {
    text-decoration: underline;
  }
}