@import './paging/_paging';
@import './results/_search-results';

.search-container {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  gap: 20px;
}

.search-input {
  width: 18rem;
  height: 2.5rem;
  font-size: 1.1rem;
  border-radius: 10px;
}

.search-bar-section {
  max-height: 200px;
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.search-results-section {
  width: 100%;
  display: flex;
  gap: 0.7rem;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: center;
}

.search-form {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.no-items-message {
  text-align: center;
  font-size: 1.1rem;
  width: 100%;
}

.items-stat-message {
  text-align: center;
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  white-space: wrap;
}

.preloader {
  width: 70px;
  height: 70px;
  display: flex;
  align-self: center;
  justify-self: center;
}

.preloader--img {
  width: 70px;
  height: 70px;
}

@media screen and (max-width: 950px) {
  .search-form {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 650px) {
  .search-results-section {
    flex-direction: column-reverse;
  }
}
