@import '../layout/_base-style';

.search-container {
  max-width: 1200px;
  margin: 20px auto 20px;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  gap: 20px;
} 

.search-input {
  width: 300px;
  height: 40px;
  font-size: 1.1rem;
  border-radius: 10px;
}

.search-bar-section {
  max-height: 100px;
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.search-results-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 0.7rem 1rem;
  flex-direction: row;
  flex-wrap: wrap;
}

.content--heading {
  font-weight: 500;
  font-size: 1.2rem;
}

.content--description {
  font-size: 1.1rem;
}

.error-message {
  color: #a02a26;
  font-weight: 600;
  font-size: 1.2rem;
}

.card-item {
  width: 260px;
  height: 70px;
  border: 1px solid $baseLinkColor;
  border-radius: 0.5rem;
  display: flex;
  justify-content: left;
  padding: 0.5rem;
  gap: 0.5rem;
  text-align: left;

  &:hover {
    box-shadow: 0px 2px 6px $baseLinkColor;
  }
}

.no-items-message {
  display: flex;
  justify-self: center;
}

.card-item--image {
  width: 50px;
  height: 50px;
  border-radius: 0.5rem;
}

.card-item--description {
  max-width: 190px;
  display: flex;
  flex-direction: column;

  .info-line {
    font-size: 1.1rem;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .sup-info {
    font-size: 0.9rem;
    font-weight: 700;
  }
}

.preloader {
  width: 70px;
  height: 70px;
  display: flex;
  align-self: center;
}

.preloader--img {
  width: 70px;
  height: 70px;
}