@import 'components/layout/_base-style';
@import 'components/layout/_layout';
@import 'components/search/_search';

h1 {
  font-size: 1.2em;
  line-height: 1.1;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $mainBgFontColor;
  background-color: $whiteBgFontColor;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: $baseLinkColor;
  text-decoration: inherit;
}
a:hover {
  color: $hoverLinkColor;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

body::-webkit-scrollbar {
  width: 12px; 
  height: 90%;
}

body::-webkit-scrollbar-track {
  background: $whiteBgFontColor;    
  z-index: -1;
  
}

body::-webkit-scrollbar-thumb {
  background-color: $mainBgFontColor; 
  border-radius: 20px;    
  cursor: pointer; 
  border: 3px solid $whiteBgFontColor; 
}

#root, .app-container {
  width: 100%;
  height: 100vh;
}

.content {
  min-height: calc(100vh - 186px);
  text-align: center;
  box-sizing: border-box;
}

.not-found {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.not-found-img {
  width: 800px;
  height: 600px;
}
